p{
    background-color: rgb(203, 22, 22);
}
a{
    background-color: rgb(52, 141, 123);
}
div{
    background-color: rgb(93, 114, 29);
}
a{
    background-color: blueviolet;
}
span{
    background-color: rgb(172, 143, 48);
}