.black{ /* we use .(dot) for class */
    background-color: rgb(87, 87, 183);
}
.purple{
    background-color: rgb(224, 85, 224);
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}

#neo{ /* we use #(hash) for id */
    color: rgb(232, 173, 209);
}
#neo01{
    color: red;
}
#neo02{
    color: black;
}